

.card-header .menu {
    width:21.5625rem;
    display: flex;
    margin: 0 auto;
    justify-content: space-between; 
    margin-bottom: .625rem;
}
.card-header .menu .service{
    width: 21.5625rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.card-header .menu .service li img{
  height: 1rem;
}

/* ------------------------------------ */

    .card_section .video{
    width: 22.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: .46875rem;
}
/* 、、、、、、、、、、、、、、、、、、、、、、、、、、、、 */
.summary{
    width: 21.5625rem;
    display: flex;
    margin: 0 auto;

}
.summary ul{
    width: 21.5625rem;
    display: flex;
    justify-content: space-between;
}
.summary ul .ff a{
    font-size: .78125rem;
    color: #fb1137;
}
.summary ul .fff{
    width: 4.0625rem;
    height: 1.25rem;
    background: #fb1137;
    border-radius:.3125rem;
    text-align: center;
    line-height: 1.25rem;
}
.summary ul .fff a{
    display: block;
    font-size: .625rem;
    color: #ffffff;
}
/* /////////////////////////////////////////////// */
.zhu{
    width: 22.5rem;
    border-bottom: .03125rem solid #cccccc;
    padding-bottom: .625rem;
}

.lfet{
    padding-left: .5rem;
    margin-top: .625rem;
    width: 10.78125rem;
    display: flex;
    justify-content: space-between;
}
.lfet ul{
    width: 10.78125rem;
    display: flex;
    justify-content: space-between;
}
.lfet ul .hhh{
  color: #666666;
  font-size:.78125rem;
}
.lfet ul .hh{
    color: #333;
    font-size:.78125rem;
  }

  .lfetl{
    padding-left: .5rem;
    margin-top: .625rem;
    width: 13rem;
    display: flex;
    justify-content: space-between;
    
}
.lfetl ul{
    width: 13rem;
    display: flex;
    justify-content: space-between;
}
.lfetl ul .hhh{
  color: #666666;
  font-size:.78125rem;
}
.lfetl ul .hh{
    color: #333;
    font-size:.78125rem;
  }
  .lfethlh{
    padding-left: .5rem;
    margin-top: .625rem;
    width: 9.3rem;
    display: flex;
    justify-content: space-between;
    
}
.lfethlh ul{
    width: 9.3rem;
    display: flex;
    justify-content: space-between;
}
.lfethlh ul .hhh{
  color: #666666;
  font-size:.78125rem;
}
.lfethlh ul .hh{
    color: #333;
    font-size:.78125rem;
  }
  .lfe{
    padding-left: .5rem;
    margin-top: .625rem;
    width: 15rem;
    display: flex;
    justify-content: space-between;
    
}
.lfe ul{
    width: 12rem;
    display: flex;
    justify-content: space-between;
}
.lfe ul .hhh{
  color: #666666;
  font-size:.78125rem;
}
.lfe ul .hh{
    color: #333;
    font-size:.78125rem;
  }


  /* ======================================================= */
  .card_section .summarr {
    width:21.5625rem;
    margin:0 auto;
    flex-wrap: wrap;
    background: #f5f5f5;
    border-radius: .15625rem;
   
}

.summarr .searchoutput{
    padding-top: .625rem;
    width: 18.125rem;
    display: flex;
    align-items: flex-start;
    margin-bottom: .3125rem;
    flex-wrap: wrap;
}
.summarr .searchoutput .article{
    width: 12rem;
    display: flex;
    flex-wrap: wrap;
}

.summarr .article ul {
    margin-top: .3125rem;
    margin-left: .3125rem;
}

.summarr .lll {
    width: 1.71875rem;
}

.summarr .searchoutput h6 {
    font-size: .625rem;
    font-weight: normal;
}

.summarr  p {
    font-size: 0.5rem;
    padding-top: .15625rem;
    color: #808080;
}
/* ============================================== */
.card_footer{
    width:22.5rem;
	margin: 0 auto;
    border-top: .03125rem solid #cccccc;
}
.footer{
    display: flex;
    width: 21.5625rem;
    margin: 0 auto;
}
.footer ul{
    display: flex;
    width: 21.5625rem;
    justify-content: space-between;
}
/* .footer ul li{
    margin-left: .3125rem;
} */
.footer ul li p{
text-align: center;
color: #333;
font-size: .625rem;
}
.footer ul li img{
   height:8rem;
   border-radius: .15625rem;
}
/* /////////////////////////////////////////// */
.submenu{
    margin-top:.78125rem;
    width:22.5rem;
    display: flex;
}
.submenu .zuo{
    width: 11.25rem;
    background: #f5f5f5;
  

}
.submenu .zuo p{
    font-size:.9375rem;
   color: #888888;
   text-align: center;
   line-height: 2.65rem;
}
.submenu .you{
    width: 11.25rem;
    background: #fb1137;
  

}
.submenu .you p{
   font-size:.9375rem;
   color: #ffffff;
   text-align: center;
   line-height: 2.65rem;
}